/*.color1 { #207cce };
.color2 { #e6daa9 };
.color3 { #143484 };
.color4 { #a09c5c };
.color5 { #d4d4ac };*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/**{
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}*/
header{
    display: flex;    
    margin: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 25px  #a09c5c;
}
nav{   
    display: flex;
    flex-direction: row;    
    align-items: center;  
    margin-left: 1rem;
    gap: 5rem;
}
nav a{
    display: flex;
    flex-direction: row; 
    align-content:space-around;
    color: #143484 ;     
    text-decoration: none;         
}
.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.cardPromo{
    display: flex;
    margin: 1rem;    
    width: 50%;
    height: 15rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 1rem  #a09c5c;
    border-radius: 0.5rem;
   /* max-width: 450px;*/
    justify-content:space-between;
    align-content: center;    
}
.part-1{    
    margin-left: 0.5rem;    
    height: 45%;        
}
.part-2{
    width: 40%;    
    margin-left: 0.5rem;   
    height: 45%;        
    background-color: #d4d4ac;
}
.part-3{
    width: 30%;
    height: 100%;
    background-color: #143484;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 1rem  #a09c5c; 

}
.cardPromo h3{
    display: flex;
    justify-content: center;    
}
