@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --azul-cielo:  #207cce;
    --dorado: #a09c5c;
    --claromedio: #e6daa9 ;
    --casiblanco: #e9e5d5 ;
    --azul-oscuro: #143484;
    --el-mas-claro: #d4d4ac;
    --lila-fuerte:#0c0727;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
    font-size: 20px;
}
body{
    background-color: var(--casiblanco);
}
/* ------------------ header ---------------*/
header{     
    display: flex;    
    justify-content:space-between;
    align-items: center;
    gap: 5vh;
    background-color: var(--azul-cielo);
    height: 20vh;
    padding: 2vh 10%;
    
}
header .logo{
    height: 15vh;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}
header .logo:hover{
    transform: scale(1.2);
}
header nav{
    display: flex;  
    flex-direction: row;
}
header nav a{
    justify-content: space-between;
    font-size:large;
}
header nav a{          
    padding: 3vh;    
    color: var(--casiblanco);
    text-decoration: none;            
}
header .nav-link:hover{
    color: var(--lila-fuerte);
    scale: 1.10;
    transition: all 0.3s;
}
header button{
    background-color: var(--casiblanco);
    color: var(--azul-oscuro);
    cursor: pointer;
    transition: all 0.3s;
    display: none; 
    /*para ocultar el botón de menú cuando estoy en deskop*/ 
}
header button:hover{
    background-color: var(--lila-fuerte);
    color: var(--casiblanco);
    scale: 1.20;       
}

@media (max-width: 600px) {
    /*para pantallas chicas*/
    .logo{
        width:2vh;
    }
    header .menu{
        display: none;
    }
    header button{
        display: flex;
    }
    .imgCard{
        width: 15vh;
    }
    .cuerpoCard{
       font-size: small;
       flex-direction: column;
       
    }
}
  
/*main*/
/* seccion paquetes turísticos containerPackTour se divide en reserva y container flex*/

.containerPackTour{
    background-color: var(--azul-cielo);
    border-radius: 0.5rem;
    box-shadow: 0px 5px 1vh ;     
    max-width: 100%;
    margin: 2.5vh;
}
.containerPackTour .contenedor h2{
    color: var(--casiblanco);
    padding: 0.25rem;    
    font-style: italic;    
    justify-content: center;
    background-color: var(--azul-oscuro);
    
}

.containerPackTour .contenedor .container-flex{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;        
    padding: 0.75rem;    
}

.containerPackTour .contenedor .container-flex .cardPromo{
    display: flex;
    margin: 1.4rem;           
    background-color: var(--el-mas-claro);
    border-radius: 0.5rem;
    box-shadow: 0px 5px 1rem  var(--dorado);    
    flex-direction: column;
       /* max-width: 450px;*/  
    
}
.containerPackTour .contenedor .container-flex .cardPromo .tituloCard{    
    color: var(--lila-fuerte);    
}
.containerPackTour .contenedor .container-flex .cardPromo .cuerpoCard{
    display: flex;
    flex-direction: row;
    margin: 1vh;
    align-items: center;

}
.containerPackTour .contenedor .container-flex .cardPromo .cuerpoCard .part-3{
    display: flex;    
    background-color: var(--azul-oscuro);
    border-radius: 0.5rem;
    box-shadow: 0px 5px 1rem  var(--dorado); 
    align-items:baseline;
}

/*form de reseñas*/
main form{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 70%;
}
main form .inputContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1vh;
}
main form .inputContainer input, select{
    border: none;
    border-bottom: 1px solid rgb(40, 39, 39);
    padding: 10px;
    font-size: 18px;
}
.btn-register{
    padding: 1.5rem;
    background-color: var(--azul-oscuro);
    color: var(--el-mas-claro);
    border: 1px solid var(--azul-oscuro);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
}
.contanerUsers{
    display: flex;
    flex-wrap: wrap;  
    padding-top: 1.5rem;  
    justify-content:space-between;
    gap: 30px
}
.user-card{
    background-color:  var(--azul-oscuro);
    color: var(--el-mas-claro);
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

/*estilos de footers*/

.footer {
    background-color: var(--azul-cielo);
    padding: 80px;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footerNos {
    width: 25%;
    padding: 0 15px;
}
.footerCont {
    width: 25%;
    padding: 0 15px;

}
.footerLink {
    width: 25%;
    padding: 0 15px;

}

.footerNos h3 {
    font-size: 20px;
    color: var(--lila-fuerte);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--azul-oscuro);
    padding-bottom: 10px;
    display: inline-block;

}
.footerCont h3 {
    font-size: 20px;
    color: var(--lila-fuerte);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--azul-oscuro);
    padding-bottom: 10px;
    display: inline-block;

}
.footerLink h3 {
    font-size: 20px;
    color: var(--lila-fuerte);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--azul-oscuro);
    padding-bottom: 10px;
    display: inline-block;

}
.footerNos ul li {
    font-size: 18px;
    text-decoration: none;
    color: var(--el-mas-claro);
    display: block;
    margin-bottom: 15px;
    transition: all  .3s ease;
}
.footerNos ul li:hover {
    color: var(--el-mas-claro);
    padding-left: 6px;
}
.footerLink ul li a {
    
    font-size: 18px;
    text-decoration: none;
    color: var(--el-mas-claro);
    display: block;
    margin-bottom: 15px;
    transition: all  .3s ease;
}
.sTitle {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--lila-fuerte);
}

.sang {
    font-size: 18px;
    text-decoration: none;
    color:var(--color2);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all  .3s ease;
}
.sang:hover {
    color: var(--el-mas-claro);
    padding-left: 6px;
}

.footerLink ul li a:hover {   
    padding-left: 6px;
}
.socialLink h3 {
    margin-bottom: 15px;
}
.socialLink a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    /*background-color: var(--dorado);*/
    color: var(--azul-oscuro);
    
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    
    transition: all .5s ease;

}
.socialLink a:hover {
    background-color: var(--azul-oscuro);
    color: var(--el-mas-claro);
}

 
@media(max-width:991px){
    .footer-row {
        text-align: center;
    }
    .footer-link {
        width: 100%;
        margin-bottom: 30px;
    }
}